@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apply</title>
</head>
    <body>
        <div id="Title"><h2>@ViewBag.Title</h2></div>
        <div id="InterestRate">
            @ViewBag.InterestRate
        </div>
        <br/>
        <div id="Reason">
            @foreach (var reason in @ViewBag.Reason)
            {
                @reason
                <br/>
            }
            
        </div>
    </body>
</html>
