@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application</title>
</head>
    <body>
        <h2>Application</h2>
        <div>
            <form action="/Application/Apply" method="POST">            
                Age: <input id="Age" name="age" type="text" />
                <input id="Apply" type="submit" value="Apply" />
            </form>
        </div>
    </body>
</html>
