@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application</title>
</head>
    <body>
        <h2>Application</h2>
        <div>
            <form action="/Application/Apply" method="POST">            
                Age: <input id="Age" name="age" type="text" /><br/>
                Sex: <input id="Male" name="sex" type="radio" title="Male" value="Male" />Male<input id="Female" name="sex" type="radio" value="Female" />Female<br/>
                <br/>
                <input id="Apply" type="submit" value="Apply" />
            </form>
        </div>
    </body>
</html>
